@font-face {
  font-family: 'Eczar-SemiBold';
  src: url('./fonts/Eczar-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('./fonts/RobotoMono-Regular.ttf') format('truetype');
}
